body {
    font-family: "Roboto", "Noto Sans HK", sans-serif;
}
.table{
    overflow-y: scroll;
}
.compare{
    height: 10vh;
}
@media (max-width: 767.98px){
    .file-select{
        min-height: 45vh;
    }
}
@media (min-width: 768px)  {
    .file-select{
        height: 45vh;
    }
    .display-file {
        height: 25%;
        width: 50%;
    }
    .file-pick {
        height: 75%;
        width: 50%;
    }
    .display-list {
        height: 100%;
        width: 50%;
    }
}
